/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2016, 6:54:39 PM
    Author     : PRABHAKAR
*/
body{
    margin: 0;
    padding: 0;
}
img{
    /*max-height: 300px;*/
}
.picksSlider{
    margin: 0;
    padding: 0;
    list-style: none;
}
.picksSlider .item{
    /*display: none;*/
}
.picksSlider .item img{
    width: 100%;
}